/*
  _    _    ____   __          __  _____   __     __
 | |  | |  / __ \  \ \        / / |  __ \  \ \   / /
 | |__| | | |  | |  \ \  /\  / /  | |  | |  \ \_/ /
 |  __  | | |  | |   \ \/  \/ /   | |  | |   \   /
 | |  | | | |__| |    \  /\  /    | |__| |    | |
 |_|  |_|  \____/      \/  \/     |_____/     |_|

Thanks for getting curious and taking a look :)
This website is built entirely on Reveal.js,
only using my own css and html.
My css is primarily in additional.css,
and all html in index.html.

To see my comments about programming,
search index.html, additional.css
or reveal.css for SAMU.

Feel free to contact me on Gitlab,
Twitter or Linkedin for anything.

*/

/*
social icons
*/

i {
	transform: scale(0.5);
}

i.fa-inverse {
	text-shadow: 0 0 2px #ffffff, 0 0 44px #ffcc00;
	animation-name: beat;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-duration: 2.0s;
	animation-delay: 0.5s;
}

i.fa-circle {
	text-shadow: 0 0 3px #ffffff, 0 0 15px #ffcc00;
	color: rgba(0,0,0,0.0);
	transform: scale(0.0);
}

@keyframes beat {
  0% {
	text-shadow: 0 0 2px #ffffff, 0 0 4px #ffcc00;
  }
  20% {
	text-shadow: 0 0 2px #ffffff, 0 0 44px #ffcc00;
  }
  40% {
	text-shadow: 0 0 2px #ffffff, 0 0 14px #ffcc00;
  }
  60% {
	text-shadow: 0 0 2px #ffffff, 0 0 44px #ffcc00;
  }
  70% {
	text-shadow: 0 0 2px #ffffff, 0 0 14px #ffcc00;
  }
  80% {
	text-shadow: 0 0 2px #ffffff, 0 0 44px #ffcc00;
  }
  100% {
	text-shadow: 0 0 2px #ffffff, 0 0 4px #ffcc00;
  }
}

/*
big navigation chevron
*/

.reveal section a img {
	background: rgba(0,0,0,0);
	border: none;
}

.reveal section a img.reverse {
	background: rgba(0,0,0,0);
	border: none;
	margin: 50px 0px;
	transform: scaleY(-1);
}

/*
text wrapping for dummies
*/

.too-long { display: block; }

@media screen and (min-width: 768px){
    .too-long { display: inline; }
}

/*
button
*/

.reveal a.button {
  position: relative;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 200px;
  padding: 10px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0.3em rgba(255, 219, 77, .5), 0 0 2px #ffffff, 0 -4px 10px 0px #ffcc00;

  transition: background-color .3s;

  background-color: #ffcc00;
  color: #000;
  font-weight: bold;
  font-size: 0.5em;
}

@media screen and (max-height: 410px) {
	.reveal a.button {
		display: inline-block; }
}

@media screen and (max-height: 480px) {
	.reveal a.button {
		margin-top: 20px;
		margin-bottom: 10px;
	}

}

.reveal a.button:hover, .reveal a.button:focus {
  background-color: #e6b800;
  box-shadow: 0 0.3em rgba(255, 219, 77, .5), 0 0 2px #ffffff, 0 -4px 14px 5px #e6b800;

}

.reveal a.button:active, {
	transform: translateY(4px);
	background-color: #cca300;
	box-shadow: 0 0.2em rgba(179, 143, 0, .5);
}

/*
emphasis
*/
strong {
	color:#ffcc00;
}

/*
definition list used on contact page.
*/
.reveal dl {
	vertical-align: block;
  }
.reveal dt {
    float: left;
    clear: left;
    width: 20%;
    text-align: right;
    font-weight: bold;
  }
.reveal dd {
	float: left;
	text-align: left;
	width: 80%;
	margin: 0;
    padding: 0;
  }

.reveal dd p {
	margin-top: 32px;
	margin-bottom: 0px;
	margin-left: 40px;
	margin-right: 0px;
	font-size: 0.5em;
	width: 100%;
}

.reveal #contact dl a {
	color: #fff;
}

/*
custom text
*/

.reveal h2 {
	color: rgba(200, 200, 200, 0.25);
}

.reveal span.indent {
	color: #ffcc00;
}